/* GERAL */
body {
    margin: 0;
    padding: 0;
    background: #25063a;
    font-family: 'Cinzel Decorative', serif;
    color: white;
    overflow-x: hidden;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 80px 8%;
}

/* TEXTOS COM EFEITO DE REVELAÇÃO */
.title-big, .subtitle, .description {
    opacity: 0;
    /* Isso aqui é o segredo: faz a máscara colar no texto */
    display: table; 
    clip-path: inset(0 100% 0 0);
    transition: clip-path 2s ease-in-out, opacity 0.5s ease;
    white-space: normal;
}

.title-big {
    font-size: 78px;
    margin: 0;
    font-weight: 700;
    line-height: 1.1;
}

.subtitle {
    font-size: 32px;
    font-weight: 700;
    margin-top: 25px;
    max-width: 700px;
}

.description {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    line-height: 1.55;
    max-width: 700px;
    margin-top: 25px;
}

/* CLASSE QUE ATIVA A LEITURA (Mantenha assim) */
.fade-in {
    opacity: 1 !important;
    transform: translate(0,0) !important;
    clip-path: inset(0 0 0 0) !important;
}
/* Faz a descrição ler mais devagar que o título */
#desc.fade-in {
    transition: clip-path 4s ease-in-out, opacity 0.5s ease;
}
