body {
    margin: 0;
    padding: 0;
    background: #25063a;
    font-family: 'Cinzel Decorative', serif;
    color: white;
    overflow-x: hidden;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 80px 8%;
}

.title-big {
    font-size: 60px; /* Ajustei um pouco o tamanho para não quebrar */
    margin: 0;
    font-weight: 700;
    min-height: 1.2em; /* Evita que o layout pule enquanto escreve */
}

.subtitle {
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
    max-width: 800px;
    min-height: 1.2em;
}

.ticket {
    width: 260px;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.photo-container {
    opacity: 0;
    transition: 1.5s ease;
}

.photo { width: 400px; height: auto; }

/* Classe para o botão e foto aparecerem no final */
.reveal-final {
    opacity: 1 !important;
    transform: translate(0,0) !important;
}
