/* GERAL */
body {
    margin: 0;
    padding: 0;
    background: #25063a;
    font-family: 'Cinzel Decorative', serif;
    color: white;
    overflow-x: hidden;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 80px 8%;
}

/* EFEITO DE LEITURA (MÁSCARA) */
.title-big, .subtitle, .description {
    opacity: 0;
    /* Faz o texto começar escondido da direita para a esquerda */
    clip-path: inset(0 100% 0 0); 
    transition: clip-path 2s ease-in-out, opacity 0.5s ease;
}

.title-big {
    font-size: 78px;
    margin: 0;
    font-weight: 700;
}

.subtitle {
    font-size: 32px;
    font-weight: 700;
    margin-top: 25px;
    max-width: 700px;
}

.description {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    line-height: 1.55;
    max-width: 700px;
    margin-top: 25px;
}

/* FOTO E BOTÃO (Aparecem com movimento) */
.photo-container, .ticket {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.photo {
    width: 400px;
    height: auto;
}

.ticket {
    width: 260px;
    margin-top: 40px;
}

/* CLASSE QUE ATIVA A LEITURA */
.fade-in {
    opacity: 1 !important;
    transform: translate(0,0) !important;
    clip-path: inset(0 0 0 0) !important; /* Isso faz o texto ser "lido" */
}
