/* -------------------------------- */
/*          CONFIGURAÇÕES           */
/* -------------------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: #26063f;
    font-family: "Cinzel Decorative", serif;
    color: white;
    overflow-x: hidden;
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 60px;
}

/* -------------------------------- */
/*             TEXTOS               */
/* -------------------------------- */

.text-box {
    width: 55%;
}

.title-big {
    font-size: 88px;
    font-weight: 800;
    margin: 0;
    animation: fadeInUp 1.2s ease forwards;
}

.subtitle {
    font-size: 38px;
    font-weight: 700;
    margin-top: 20px;
    max-width: 90%;
}

.description {
    font-size: 32px;
    margin-top: 20px;
    max-width: 90%;
    line-height: 1.4;
}

/* -------------------------------- */
/*           ADMIT ONE              */
/* -------------------------------- */

..ticket {
    width: 260px;
    margin-top: 40px;
    cursor: pointer;
    opacity: 0;
    animation: fadeInUp 10.6s ease forwards; /* aparece bem depois */
    filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.6));
    transition: transform .3s;
}

.ticket:hover {
    transform: scale(1.06);
}

/* -------------------------------- */
/*          FOTO À DIREITA          */
/* -------------------------------- */

.photo-box {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden; /* recorte */
}

.photo {
    height: 90vh;
    object-fit: cover;

    /* rosto à ESQUERDA → empurramos para DIREITA */
    object-position: left center;

    /* controla quantos % do rosto aparece */
    transform: translateX(35%);

    filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.7));
}

/* -------------------------------- */
/*          RESPONSIVIDADE          */
/* -------------------------------- */

@media (max-width: 1000px) {

    .layout {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .text-box {
        width: 100%;
    }

    .photo-box {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
    }

    .photo {
        height: 60vh;
        transform: translateX(0); /* no mobile mostra mais do rosto */
    }

    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 32px;
    }

    .description {
        font-size: 26px;
    }
}
