body {
    margin: 0;
    padding: 0;
    background: #25063a;
    font-family: 'Cinzel Decorative', serif;
    color: white;
    overflow-x: hidden;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 80px 8%;
}

.title-big {
    font-size: 60px;
    margin: 0;
    font-weight: 700;
}

.subtitle {
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
    max-width: 800px;
}

/* Estilo para cada palavra que o JS vai criar */
.word {
    display: inline-block;
    opacity: 0;
    animation: fadeInWord 0.8s forwards;
    margin-right: 12px;
}

@keyframes fadeInWord {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

.ticket, .photo-container {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.reveal-final {
    opacity: 1 !important;
}

.photo { width: 400px; height: auto; }
